*
{
    margin: 0;
    padding: 0;
}
body
{
    overflow-x: hidden;
}
.top-bar
{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.center-page
{
    margin-top: -80px;
}
.main-image
{
    display: flex;
    justify-content: center;
}
.btn.btn-dark
{
    display: flex;
    float: right;
    margin-right: 150px;
    margin-top: -300px;
    position: relative;    
}
.btn.btn-dark.primary-cta
{
    padding: 5px 30px;
    color: white;
    background:black;
    font-size: 2em;
}
.btn.btn-dark.primary-cta:hover
{
    color: black;
    background:rgba(255, 255, 255, 0.42);
}
.offers-of-the-day .row
{
    display: flex;
    justify-content: center;
}
.offers-of-day-background
{
    position: relative;
    width: 98%;
    height: auto;
    margin-left: 2%;
    background: linear-gradient(90deg, #333333 0%, rgba(62, 128, 182, 0.563) 88.54%, rgba(231, 11, 24, 0) 100%);
    border-radius: 20px;
    padding: 2% 0;
}
.offers-of-day-top 
{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    padding-top: 10px;
}
.offers-of-day-top .words
{
    position: static;
    white-space: nowrap;  
    width: 329px;
    height: 38px;
    margin-left: 10px;
    top: 10px;
    font-family: 'Rubik', 'sans-serif';
    font-style: normal;
    font-weight: bolder;
    font-size: 12px;
    letter-spacing: 0.01px;
    line-height: 38px;
    text-align: center;
    color: #FFFDFD;
}
.offers-of-day-top .line
{
    
    position: static;
    width: 511px;
    height: 0px;
    margin-left: 102px;
    margin-top: 29px;
    border: 0.8px solid #FFFFFF;
}
.offers-vehicles
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}
.offers-vehicle
{
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    border: 0.4px solid #000000;
    border-radius: 15px;
    width: 25%;
    height: 450px;
    margin: 0 2% 0;
    text-align: center;
}
.bottom-center-page
{
    margin-top: 50px;
    padding: 0 2vw;
}
.bottom-center-images
{
    width: 100%;
    margin-left: 40px;
    display: flex;
    justify-content: center;

}
.bottom-center-images img
{
    width: 70%;
    height: 40vh;
}

.top-products
{
    margin-top: 50px;
    padding: 0 2vw;
}
.feature-top-products
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}
.feature-top-product
{
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.42);
    border: 0.4px solid #000000;
    border-radius: 15px;
    width: 28%;
    height: 600px;
    margin: 0 2% 0;
    text-align: center;
}
.feature-top-words
{
    padding: 6% 2%;
}
.feature-top-image img
{
    width: 100%;
    height: auto;
}
.feature-top-product h4
{
    font-family: 'Rubik', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 32px;
    color: #988888;
}
.feature-top-product h5
{
    font-family: 'Rubik', 'sans-serif';
    font-style: normal;
    font-size: 1.5em;
    line-height: 32px;
    color: #000000;
}
.btn-top-product
{
    background: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    width: 100%;
    height: auto;
    font-size: 1.2em;
}
.btn-top-product:hover
{
    background: rgba(62, 128, 182, 0.8);
    color: white;
    padding: 10px 30px;
    font-weight: bold;
}


footer
{
    margin-top: 50px;
    padding-left: 50px;
    margin-bottom: 20px;
}
.footer-blocks
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 40px;
    margin-top: 40px;
}
.footer-block
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer h1
{
    color: #000000;
    font-family: 'Rubik';
    font-style: normal;
}
.footer-icons
{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.footer-block i
{
    font-size: 60px;
    color: #000000;
}
.footer-block h1
{
    font-size: 20px;
}
.footer-block p
{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    color: rgba(30, 22, 22, 0.484);
}



/*checkout flip cards*/
.checkout-flip-cards-div
{
    display: flex; 
    justify-content: space-evenly; 
    width: 100vw; 
    height: 60vh;
}
.checkout-flip-card
{
    background-color: transparent; 
    width: 40%; 
    height: auto; 
    border: 1px solid #f1f1f1;
    border-radius: 15px;
    perspective: 1000px;
}
.checkout-inner-flip-card
{
    position: relative; 
    width: 100%; 
    height: 100%; 
    text-align: center; 
    transition: transform 0.8s; 
    transform-style: preserve-3d;
}
.checkout-flip-card:hover .checkout-inner-flip-card
{
    transform: rotateY(180deg);
}
.checkout-flip-card-front, .checkout-flip-card-back
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout-flip-card-back
{
    background: #C4C4C4;
    transform: rotateY(180deg);
}
.checkout-flip-card-front-one
{
    background: #3AA335;
    color: white;
}
.checkout-flip-card-front-two
{
    background: #1434CB;
    color: #F7B600;
}
.checkout-flip-card-back-list
{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: auto;
    text-align: left;
}
.checkout-flip-card-back-list a
{
    border-radius: 0 0 15px 15px; 
    text-align: center; 
    font-size: 2em; 
    text-decoration: none;
}
.checkout-flip-card-back-list-one
{
    font-size: 1.03em;
}
.checkout-flip-card-back-list-one a
{
    margin-top: 0px; 
    background: #3AA335;
}
.checkout-flip-card-back-list-one a li
{
    background: transparent;
    color: white;
}
.checkout-flip-card-back-list-two
{
    font-size: 1.35em;
}
.checkout-flip-card-back-list-two a
{
    margin-top: 15px;
    background: #F7B600;
}
.checkout-flip-card-back-list-two a li
{
    background: transparent;
    color: #1434CB;
}
.checkout-flip-card-back-list-one input
{
    color: #3AA335;
}
.checkout-flip-card-back-list-two input
{
    color: #1434CB; 
}
.checkout-flip-cards-div h1
{
    font-weight: bold;
    font-size: 3em;
}